@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-optical-sizing: auto;
}

/* View Transitions */
@view-transition {
	navigation: auto;
}

:root {
  /* Animation */
	--ease: cubic-bezier(0.07, 1.00, 0.00, 1.00);
  --animation-speed: 1200ms;

  /* Spacing */
  --flow-space: clamp(0.5em, 0.5em + 1vw, 1em);

  /* Scale */
  /* https://codepen.io/miriamsuzanne/pen/QwEXomP */
  --size--medium: clamp(1em, 22px + 1vi, 1.25em);

  --scale: 1.1;
  /* create the typographic scale! */
  --xx-small: calc(var(--size--medium) * pow(var(--scale), -1));
  --x-small: calc(var(--size--medium) * pow(var(--scale), -.5));
  --small: calc(var(--size--medium) * pow(var(--scale), -.25));
  --large: calc(var(--size--medium) * pow(var(--scale), 1));
  --x-large: calc(var(--size--medium) * pow(var(--scale), 2));
  --xx-large: calc(var(--size--medium) * pow(var(--scale), 3));
  --xxx-large: calc(var(--size--medium) * pow(var(--scale), 4));
  --xxxx-large: calc(var(--size--medium) * pow(var(--scale), 5));
  --xxxxx-large: calc(var(--size--medium) * pow(var(--scale), 6));
  --xxxxxx-large: calc(var(--size--medium) * pow(var(--scale), 7));

  /* Fonts */
  --font-body: 'Inter', sans-serif;
  --font-heading: 'Space Grotesk', serif;
  --font-monospace: monospace;

  /* Colors */
	--clr-gold: oklch(78.266% 0.14194 89.569);
	--clr-darkgold: oklch(25.946% 0.05084 82.077);
	--clr-darkteal: #182024;
	--clr-teal: #4E8B8C;
  --clr-greenbright: #618616;
	--clr-greenlighter: #8EA75D;
	--clr-palefoam: oklch(93.911% 0.02612 147.337);
  --clr-darkblue: #044488;
	--clr-mediumblue: #0D6FBA;
	--clr-brightblue: #0099FF;
  --clr-brightblue-alt: #0482cb;
	--clr-lightblue: #77B0CE;
  --clr-lightbrightblue: #71bfe9;
	--clr-greige: #C4C4C4;
  --clr-lightbeige: #f6f1ee;
	--clr-maroonish: #9E3F4E;
	--clr-paledpeach: #FFC9B9;
	--clr-brightorange: #FF6924;
	--clr-salmon: #D7765B;
	--clr-beige: #DCB39E;

  --link-color: var(--clr-mediumblue);
  --link-decoration-color: var(--clr-brightblue);
  --link-border-width: 2px;
  --link-border-color: transparent;
	--link-active-color: oklch(from var(--link-color) calc(l * 1.1) c h);;
	--link-visited-color: oklch(from var(--link-color) calc(l * 0.8) c h);
  --link-hover-color: var(--clr-brightblue);
  --link-hover-border-color: var(--clr-lightbrightblue);

  --clr-blob-01: var(--clr-gold);
  --clr-blob-02: var(--clr-maroonish);

  --clr-secondary: var(--clr-greenbright);
  --clr-accent: #bd4500;

	--color-gray-20: var(var(--clr-palefoam));
	--color-gray-50: oklch(88.107% 0.00687 146.197);
	--color-gray-90: oklch(26.554% 0.05122 73.939);

	--clr-bg: var(--color-lightbeige);
  --clr-fg: var(--clr-darkteal);

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

    /* --link-color: var(--clr-greenlighter); */

		--clr-bg: var(--clr-darkteal);
    --clr-fg: var(--clr-lightbeige);

    --clr-blob-01: var(--clr-darkblue);
    --clr-blob-02: var(--clr-maroonish);
  }
}

body {
  font-family: var(--font-body);
  font-size: var(--small);
  line-height: 1.5;

  background-color: var(--clr-bg);
  color: var(--clr-fg);
}
.container {
  padding: 4vw 8vw;
  margin-inline: auto;
  max-width: 70ch;

  background-color: oklch(from var(--clr-bg) l c h / 0.6);
}

/* skip link */
#skip-link {
	text-decoration: none;
	background: var(--background-color);
	color: var(--text-color);
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-gray-90);
	border-radius: 2px;
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
	position: absolute;
	top: 1rem;
	left: 1rem;
	/* Ensure it is positioned on top of everything else when it is shown */
	z-index: 999;
}

/* Visually Hidden */
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* links */
a[href] {
  position: relative;

  color: var(--link-color);
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--link-border-color);
  border: var(--link-border-width) dotted var(--link-border-color);

  padding: var(--link-border-width);

  transition: all var(--animation-speed) var(--ease);

}
a[href]:visited {
	color: var(--link-visited-color);
  border-color: var(--link-hover-border-color);
}
a[href]:active {
  color: var(--link-active-color);
}
a[href]:hover,
a[href]:visited:hover,
a[href]:focus {
	color: var(--link-hover-color);
}
p a, ul a, ol a {
  font-weight: bolder;
}

h1,
.site-title,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1;
  margin:0;
}

h1, h1.site-title{
  font-size: var(--xxxxxx-large);
}
h2 {
  font-size: var(--xxxxx-large);
}
h3 {
  font-size: var(--xxxx-large);
}
h4 {
  font-size: var(--xxx-large);
}
h5 {
  font-size: var(--xx-large);
}
h6 {
  font-size: var(--x-large);
}
.site-title {
  font-size: var(--small);
}
.site-title a {
  font-weight:normal;
}

p {
  margin: 1rem 0;
  line-height: 1.9;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img{
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}


.container > header,
.container > main,
.container > section,
.container > footer {
  padding: calc(0.5vh + 0.5vw) 0;
}
.container > footer {
  font-size: 0.8em;
  margin: 0;
  text-align: right;
}

.container > header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;

  gap: 0.75em;

  margin-block-end: 2em;;

  nav {
    width: 100%;

    ul.nav {
      margin:0;
      padding:0;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      font-size: var(--xx-small);

      li {
        padding: 0 .5em;
        
        &.current-page {
          font-style: italic;
        }
      }
    }
  }
}
